<h1>Call for Papers</h1>
<h2>Topics</h2>
<p>CMSB 2016 solicits original research articles on the analysis of biological systems, networks, data, and corresponding application domains. The conference brings together computer scientists, biologists, mathematicians, engineers, and physicists interested in a system-level understanding of biological processes.</p>
<ul>
<li>Topics of interest include, but are not limited to:</li>
<li><span>formalisms for modelling biological processes,</span></li>
<li>models and their biological applications,</li>
<li>frameworks for model verification, validation, analysis and simulation of <span>biological systems,</span></li>
<li>high-performance computational systems biology and parallel<span>implementations,</span></li>
<li>model inference from experimental data,</li>
<li>model integration from biological databases,</li>
<li>multi-scale modelling and analysis methods,</li>
<li>methods for synthetic biology and biomolecular computing.</li>
</ul>
<p>Papers should be submitted to one of the following categories:</p>
<ul>
<li>Theory</li>
<li>High performance methods</li>
<li>Tools</li>
<li>Case studies (applications of systems biology methods to real cases or new open questions in biology that require a systems biology approach)</li>
</ul>
<h2>Format</h2>
<div>Submitted papers should describe original work that has not been previously published and is not under review for publication elsewhere. Papers must conform the LNCS style (instructions for authors with LaTeX and Word styles can be found here). They have to be submitted electronically as PDF files via EasyChair. The limit for submissions is 12 pages. Appendices will not not be counted in the page limit.</div>
<div></div>
<h2>Awards</h2>
<div>There will be an award for Best Paper and a cash prize of $500 USD for the Best Student Paper. The criteria for a Student paper are that the leading (corresponding) author should be registered for a Masters or PhD, and the contributions and percentages of effort by all authors should be clearly stated in an additional section, outside the 20pp limit, which clearly indicates that the submission is in this category. The cash prize is donated by TCSIM - the IEEE Technical Committee on Simulation. Best paper and best student paper candidates are strongly encouraged to submit their contribution to the artifact evaluation committee (see below). </div>
<div></div>
<h2>Artifact Evaluation</h2>
<p>We encourage authors of tool papers or any contribution containing software, executable models and experiments, data sets or any other digital artifact to submit these to an optional artifact evaluation.</p>
<div></div>
<h2><span>Important Dates</span></h2>
<ul>
<li>list</li>
<li>of</li>
<li>dates</li>
<li>google calendar link</li>
</ul>