<h1>Call for Posters</h1>
<h2>Topics</h2>
<p>CMSB 2016 solicits poster abstracts on the analysis of biological systems, networks, data, and corresponding application domains. The conference brings together computer scientists, biologists, mathematicians, engineers, and physicists interested in a system-level understanding of biological processes.</p>
<ul>
<li>Topics of interest include, but are not limited to:</li>
<li><span>formalisms for modelling biological processes,</span></li>
<li>models and their biological applications,</li>
<li>frameworks for model verification, validation, analysis and simulation of <span>biological systems,</span></li>
<li>high-performance computational systems biology and parallel<span>implementations,</span></li>
<li>model inference from experimental data,</li>
<li>model integration from biological databases,</li>
<li>multi-scale modelling and analysis methods,</li>
<li>methods for synthetic biology and biomolecular computing.</li>
</ul>
<p>Poster abstracts discussing case studies are of particular interest.</p>
<h2>Format</h2>
<div>Poster abstracts must conform the LNCS style (instructions for authors with LaTeX and Word styles can be found here). They have to be submitted electronically as PDF files via EasyChair. The limit for submissions is 2 pages.</div>
<h2>Awards</h2>
<div>There will be a prize for best poster.</div>
<h2>Artifact Evaluation</h2>
<p>We encourage authors of any contribution containing software, executable models and experiments, data sets or any other digital artifact to submit these to an optional artifact evaluation.</p>
<h2>Important Dates</h2>
<ul>
<li>list</li>
<li>of</li>
<li>dates</li>
<li>google calendar link</li>
</ul>