<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CMSB 2016</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style='overflow-y:scroll'>
    <img src='images/banner.png' class="img-responsive">
    <div class="container">
      <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbar" class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
              <li> <a href="index.html">Home</a> </li>
              <li> <a href="organization.html">Organisation</a> </li>
              <li> <a href="registration.html">Registration</a> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calls <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="call_papers.html">Call for papers</a> </li>
                  <li> <a href="call_posters.html">Call for posters</a> </li>
                </ul>
              </li>
              <li> <a href="calendar.html">Calendar</a> </li>
              <li> <a href="venue.html">Venue</a> </li>
              <li> <a href="contact.html">Contact</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class='container'>