<h1>About</h1>
<p>The 14th conference on Computational Methods in Systems Biology (CMSB2016) will take place on the <strong>21st to 23rd September 2016</strong> in Cambridge. Its aim is to bring together researchers from across biological, mathematical, computational and physical sciences who are interested in the study and modelling of large biological systems.</p>
<p>CMSB2016 is organised by <strong>Pietro Lió</strong> at <strong>Cambridge University Computer Laboratory</strong>.</p>
<p><a class="internal-link" href="resolveuid/5a37bbe871ea4e1bbc0bef93cb2b6fec" target="_self" title="">Register to CMSB2016 now!</a></p>
<h2>Updates</h2>
<ul>
<li>Sept 18th 2015: <a class="external-link" href="http://cmsb2015.sciencesconf.org/" target="_self" title="">CMSB 2015</a> finishes</li>
</ul>
