<h1>Organization</h1>
<h2>Organizing Committees</h2>
<h3>General Chairs</h3>
<p>TBD</p>
<h3>Steering Commitee</h3>
<ul>
<li><span>Finn Drablos - NTNU, Norway</span></li>
<li><span>Francois Fages - INRIA Paris Rocquencourt, France</span></li>
<li><span>David Harel - Weizmann Institute of Science, Israel</span></li>
<li><span>Monika Heiner - Brandenburg University of Technology, Cottbus, Germany</span></li>
<li><span>Tommaso Mazza - IRCCS Casa Sollievo della Sofferenza - Mendel, Italy</span></li>
<li><span>Satoru Miyano - University of Tokyo, Japan</span></li>
<li><span>Gordon Plotkin - University of Edinburgh, UK</span></li>
<li><span>Corrado Priami - CoSBi / Microsoft Research, University of Trento, Italy</span></li>
<li><span>Carolyn Talcott - Stanford Research Institute, USA </span></li>
<li><span>Adelinde Uhrmacher - University of Rostock, Germany</span></li>
</ul>
<h3>Program Committee (Tentitative)</h3>
<ul>
<li><span>Uri Alon, Weizmann Institute of Science</span></li>
<li><span>Julio Banga, IIM-CSIC</span></li>
<li><span>Ziv Bar-Joseph , Carnegie Mellon University</span></li>
<li><span>Ezio Bartocci, Vienna University of Technology</span></li>
<li><span>Gregory Batt, INRIA</span></li>
<li><span>Luca Bortolussi, Univerity of Trieste</span></li>
<li><span>Jérémie Bourdon, Université de Nantes</span></li>
<li><span>Dennis Bray, University of Cambridge</span></li>
<li><span>Kevin Burrage, Department of Computer Science, University of Oxford</span></li>
<li><span>Luca Cardelli, Microsoft Research Cambridge / Department of Computer Science,</span></li>
<li><span>University of Oxford</span></li>
<li><span>George Church, Harvard Medical School</span></li>
<li><span>Diego Di Bernardo, TIGEM &amp; Dept. Computer Science and Systems, Univ. Federico II Naples</span></li>
<li><span>François Fages, INRIA</span></li>
<li><span>Flavio Fenton, Georgia Tech</span></li>
<li><span>Jerome Feret, INRIA</span></li>
<li><span>Calin Guet, IST Austria</span></li>
<li><span>Monika Heiner, Brandenburg University of Technology</span></li>
<li><span>Thomas Henzinger, IST Austria</span></li>
<li><span>Mustafa Hani Khammash, ETH Zurich</span></li>
<li><span>Heinz Koeppl, TU Darmstadt</span></li>
<li><span>Marta Kwiatkowska, Department of Computer Science, University of Oxford</span></li>
<li><span>Pietro Lio', Computer Laboratory, University of Cambridge</span></li>
<li><span>Rahul Mangharam, Upenn</span></li>
<li><span>Pedro Mendes, University of Manchester</span></li>
<li><span>Carla Piazza, University of Udine</span></li>
<li><span>Andrew Phillips, Microsoft Research Cambridge</span></li>
<li><span>Ovidiu Radulescu, Université de Montpellier</span></li>
<li><span>Blanca Rodriguez, Department of Computer Science, University of Oxford</span></li>
<li><span>Olivier Roux, École Centrale de Nantes</span></li>
<li><span>Bruce E. Shapiro, California State University</span></li>
<li><span>David Soloveichik, University of California, San Francisco, USA</span></li>
<li><span>Guido Sanguinetti, University of Edinburgh</span></li>
<li><span>David Safranek, Masaryk University</span></li>
<li><span>Joerg Stelling, ETH Zurich</span></li>
<li><span>Carolyn Talcott, SRI International</span></li>
<li><span>P.S. Thiagarajan, National University of Singapore</span></li>
<li><span>Adelinde Uhrmacher, University of Rostock</span></li>
<li><span>Erik Winfree, California Institute of Technology, USA</span></li>
<li><span>Verena Wolf, Saarland University</span></li>
<li><span>Boyan Yordanov, Microsoft Research Cambridge</span></li>
</ul>
<h2>Past CMSB Events</h2>
<ul>
<li><a class="external-link" href="http://cmsb2015.sciencesconf.org/" target="_self" title="">CMSB 2015</a>, Nantes, France</li>
<li><a href="http://www.comp-sys-bio.org/CMSB14" target="_blank">CMSB 2014</a> Manchester, UK,</li>
<li><a href="http://ist.ac.at/cmsb13" target="_blank">CMSB 2013</a> Klosterneuburg, Austria,</li>
<li><a href="http://sites.brunel.ac.uk/cmsb2012" target="_blank">CMSB 2012</a> London, UK,</li>
<li><a href="http://contraintes.inria.fr/CMSB11/" target="_blank">CMSB 2011</a> Paris, France,</li>
<li><a href="http://www.cosbi.eu/cmsb2010" target="_blank">CMSB 2010</a> Trento, Italy,</li>
<li><a href="http://www.cmsb09.cs.unibo.it/" target="_blank">CMSB 2009</a> Bologna, Italy,</li>
<li><a href="http://wwwmosi.informatik.uni-rostock.de/cmsb08/" target="_blank">CMSB 2008</a> Rostock, Germany,</li>
<li><a href="http://conferences.inf.ed.ac.uk/cmsb07/index.html" target="_blank">CMSB 2007</a> Edinburgh, UK,</li>
<li><a href="http://www.cosbi.eu/index.php/topic-cmsb/" target="_blank">CMSB 2006</a> Trento, Italy,</li>
<li><a href="http://web.archive.org/web/20060109002039/http:/homepages.inf.ed.ac.uk/v1bklin/cmsb05/" target="_blank">CMSB 2005</a> Edinburgh, UK,</li>
<li><a href="http://www.informatik.uni-trier.de/%7Eley/db/conf/cmsb/cmsb2004.html" target="_blank">CMSB 2004</a> Paris, France,</li>
<li><a href="http://www.informatik.uni-trier.de/%7Eley/db/conf/cmsb/cmsb2003.html" target="_blank">CMSB 2003</a> Rovereto, Italy.</li>
</ul>