<h1>Registration</h1>
<p>Registration types are as follows:</p>
<table class="plain">
<tbody>
<tr class="registration_table "><th class="registration_table ">Registration type</th><th class="registration_table ">Early registration</th><th class="registration_table ">Late registration<br /><br /></th><th class="registration_table ">Ultra-late registration<br />unsecured proceedings and meals</th></tr>
<tr class="registration_table ">
<td class="registration_table ">Full<br />registration</td>
<td class="registration_table " style="text-align: center; ">£275</td>
<td class="registration_table " style="text-align: center; ">£310</td>
<td class="registration_table " style="text-align: center; ">£310</td>
</tr>
<tr class="registration_table ">
<td class="registration_table ">Student<br />registration</td>
<td class="registration_table " style="text-align: center; ">£200</td>
<td class="registration_table " style="text-align: center; ">£240</td>
<td class="registration_table " style="text-align: center; ">£240</td>
</tr>
<tr class="registration_table ">
<td class="registration_table ">Gala dinner for<br />conference participants</td>
<td class="registration_table " style="text-align: center; ">£30</td>
<td class="registration_table " style="text-align: center; ">£30</td>
<td class="registration_table " style="text-align: center; "><span>£30</span></td>
</tr>
<tr class="registration_table ">
<td class="registration_table ">Gala dinner for<br />accompanying persons</td>
<td class="registration_table " style="text-align: center; "><span>£30</span></td>
<td class="registration_table " style="text-align: center; "><span>£30</span></td>
<td class="registration_table " style="text-align: center; "><span>£30</span></td>
</tr>
<tr class="registration_table ">
<td class="registration_table ">Workshop for<br />conference attendee</td>
<td class="registration_table" colspan="3" style="text-align: center; ">free but mandatory</td>
</tr>
<tr class="registration_table ">
<td class="registration_table ">Workshop for<br />non attendee</td>
<td class="registration_table" colspan="3" style="text-align: center; ">free but mandatory</td>
</tr>
</tbody>
</table>
<p>Click on the "Register now" button to continue to the registration form.</p>
<p><a class="external-link" href="http://example.com" target="_self" title="">Register Now</a></p>