<h1>Venue</h1>
<p>CMSB 2016 will be held in Cambridge, at the William Gates Building (aka the Computer Laboratory).</p>
<h2>Accommodation</h2>
<p>We are able to offer accommodation at Churchill College, only a few minutes cycle ride from the William Gates Building.</p>
<p>To book accommodation, <a class="external-link" href="http://todo" target="_self" title="">click here</a>.</p>
<p>Alternatively, Cambridge has a large number of hotels and other colleges which can offer accommodation.</p>
<h2>Travel</h2>
<p>The Computer Laboratory website has comprehensive directions by all modes of transport: </p>
<p><a href="http://www.cl.cam.ac.uk/directions/" target="_blank">www.cl.cam.ac.uk/directions/</a></p>
<p> </p>
<h3>By Train</h3>
<p>Cambridge Railway Station is around an hour from London King's Cross or Liverpool Street.</p>
<h3>By Plane</h3>
<p>Stansted Airport is the closest major airport, a ~40 minute train journey away from Cambridge.</p>
<h3>By Automobile</h3>
<p>Madingley Road Park and Ride carpark is just over the road from the William Gates Building.</p>